body
{
  min-width: 250px;
  margin: 0px;
  font-family: Segoe UI, Arial, sans-serif;
  font-size: 13px;
  color: #545454;
  background-color: #f8f6f2;
  background-image: url(background.png);
}

.menu-item
{
  padding: 10px 0px 10px 15px;
}

.menu-item:hover
{
  background-color: #ece7df;
}

#wrapper
{
  padding: 0px 20px;
}

ul
{
  margin: 0px;
  padding: 0px;
}

li
{
  cursor: pointer;
  list-style-type: none;
  white-space: nowrap;
  border-top: 1px dashed #a5a4a1;
}

li ul
{
  margin-left: 35px;
}

li li
{
  cursor: default;
  padding: 10px 15px;
}