/*

Copyright 2016 Taylor Raack.

This file is part of PageAccel.

PageAccel is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PageAccel is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with PageAccel.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
	 background-color: #d7d7d7;
	 width: 250px;
	 font-family: Segoe UI, Arial, sans-serif;
	 color: #323232;
}

#enabledStatus {
	font-weight: bold;
}

#statusText {
	font-weight: bold;
	font-size: 24px;
}

.enabled {
	background-color: #70e270;
}

.disabled {
  background-color: #ffda81;
}